<h1>Restful Tasks API</h1>

<button (click) = 'getTasksFromService()'>Get All Tasks</button>

<div>
  <h2>All the tasks:</h2>
  <p *ngFor='let task of tasks'>{{task.title}} - {{task.description}}</p>

  <h2>The third task is:</h2>
  <p>{{tasks[2].title}} - {{tasks[2].description}}</p>
</div>

<div>
  <form (submit)='onSubmit($event)'>
    <p>{{newTask | json}}</p>
    <input type="text" name="newTask.title" [(ngModel)] = 'newTask.title'>
    <input type="text" name="newTask.description" [(ngModel)]='newTask.description'>
    <input type="submit"value="Create Task">
  </form>
</div>
